<% var page = letter.page() %>
<% var character = letter.character()  %>
<% var nextPage = letter.nextPage() %>
<% var beforePage = letter.beforePage()%>
<h1>Letter <%= character.toUpperCase() %></h1>
<h2>Page <%= page %></h2>
